<div class="jumbotron py-3">
  <h1 class="display-4 text-center">GET ALL EMPLOYEES</h1>
</div>
 <div>
 <button id="button" class="btn-primary" (click)="insertEmployee()">INSERT EMPLOYEE</button>
</div>
<div class="row">
  <div>
    <table class="table">
        <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>EMPLOYEE NAME</th>
              <th>SALARY</th>
              <th>DEPARTMENT NAME</th>
              <th>DATE OF JOINING</th>
              <th>EXPERIENCE</th>
              <th>EMPLOYEE ROLE</th>
              <th>DELETE EMPLOYEE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pd of service.list">
              <td>{{pd.employeeId}}</td>
              <td>{{pd.employeeName}}</td>
              <td>{{pd.salary}}</td>
              <td>{{pd.departmentName}}</td>
              <td>{{pd.dateOfJoining}}</td>
              <td>{{pd.experience}}</td>
              <td>{{pd.empType}}</td>
              <td>
                <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.employeeId)"></i>
              </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

